.search-bar {
    color: white; 
    background-color: transparent;
    border: 1px solid white;
  
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  
    &:focus {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      outline: none;
    }
  }
  
  .form-control {
    background-color: #2c3554 !important;
    color: white !important;
  
    &::placeholder {
      color: #ccc !important;
    }
  }
  
  
  